extends layout

block content
    div.chat-container
        h1 Chatroom
        div.message-box
            div.message-board
                if user
                    h3.logged-in-message Logged in as user: #{user.username}
                        if user.isAdmin
                            span.blue  (Admin)
                        else if user.validated
                            span.orange  (Member)
                        else
                            span.red  (Unauthenticated)
                else 
                    h3 Not logged in
                each message in messages
                    div.message
                        span(class=message.poster.isAdmin ? 'blue' : '') #[strong #{message.poster.username}]: 
                        span #{message.content}
                        if user
                            if user.isAdmin
                                span  
                                a(href=`/admin/${message._id}/delete` style='color:red;') #[strong Delete]

            if user
                if user.isAdmin || user.validated
                    div.post-message-container
                        hr(style='width:100%;')
                        div.post-message
                            form.chat-form(method='POST' action='/chatroom')
                                textarea(name='message' required='true')
                                button(type='submit' style='font-weight: bold;') Post
